name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: macos-15

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Swift
        uses: ./.github/actions/setup-swift

      - name: Cache Mint
        uses: actions/cache@v5
        with:
          path: ~/.mint
          key: ${{ runner.os }}-mint-${{ hashFiles('**/Mintfile') }}
          restore-keys: |
            ${{ runner.os }}-mint-

      - name: Install Swift Dependencies
        run: |
          brew bundle
          mint bootstrap

      - name: Run Linter
        run: make lint

      - name: Run Tests
        run: make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.lcov
          fail_ci_if_error: false
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}